.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    padding-right: 0.5rem;
}

.container {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
}

.column {
    grid-template-columns: 1fr;
    gap: 1rem;
}

.viewButton {
    width: 20%;
}