.container {
    position: relative;
    z-index: 100;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.imageWrapper {
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.imageContainer img {
    object-fit: contain;
    width: 100vw;
    height: 100vh;
}

.controlsContainer {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navigationWrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.navButtonLeft,
.navButtonRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.75);
    transition: background 0.3s;
}

.navButtonLeft {
    left: 16px;
}

.navButtonRight {
    right: 16px;
}

.navButtonLeft:hover,
.navButtonRight:hover {
    background: rgba(0, 0, 0, 0.75);
}

.topRightControls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 8px;
    padding: 16px;
}

.topLeftControls {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
}

.controlIcon {
    background: rgba(0, 0, 0, 0.5);
    padding: 12px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.75);
    transition: background 0.3s;
}

.controlIcon:hover {
    background: rgba(0, 0, 0, 0.75);
}

.closeButton {
    background: rgba(0, 0, 0, 0.5);
    padding: 12px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.75);
    transition: background 0.3s;
}

.bottomControls {
    position: fixed;
    bottom: 0;
    z-index: 40;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    padding: 16px;
}

.bottomNav {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.thumbnailButton {
    width: 100%;
    transform: scale(0.85);
    transition: width 0.3s, transform 0.3s;
}

.thumbnailButtonActive {
    z-index: 50;
}

.thumbnailActive {
    width: 100%;
    transform: scale(1);
}

.thumbnail {
    opacity: 0.6;
    transform: scale(1);
    width: 100%;
}

.thumbnailButton img {
    object-fit: contain;
    width: 100% !important;
    height: 100% !important;
}

.thumbnailButton:hover .thumbnail {
    opacity: 1;
}

.icon {
    width: 24px;
    height: 24px;
}