.card {
    background: var(--article-bg);
    border: 1px solid var(--article-bg);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
    max-width: 350px;
    width: auto;
    padding: 10px;
}

.card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 12px;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--accent-color);
}

.content {
    padding: 1rem;
    border-radius: 0 0 20px 20px;
}

.content p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.imageContainer {
    width: 100%;
    position: relative;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: safe;
    margin: 0.5rem 0 1rem;
}

.tags span {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    font-size: 0.75rem;
    transition: all 0.2s;
}

.inlineCard {
    background: var(--article-bg);
    border: 1px solid var(--article-bg);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    padding: 10px;
}

.inlineCard:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.inlineCard img {
    border-radius: 12px;
}

.inlineTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--accent-color);
}

.inlineContent {
    padding: 0 1rem;
    border-radius: 0 0 20px 20px;
}

.inlineContent p {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.inlineImageContainer {
    min-width: 10rem;
    height: 10rem;
    position: relative;
}

.inlineTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: safe;
    margin-top: 0.2rem;
}

.inlineTags span {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    font-size: 0.75rem;
    transition: all 0.2s;
}

.card:hover,
.inlineCard:hover {
    border-color: var(--accent-color);
}

@media screen and (max-width: 600px) {
    .inlineImageContainer {
        min-width: 7.5rem;
        height: 7.5rem;
    }

    .inlineTitle,
    .title {
        font-size: 18px;
    }

    .inlineContent p,
    .content p {
        font-size: 12px;
    }

    .inlineTags span,
    .tags span {
        font-size: 10px;
    }
}