.container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 1rem 0;
}

.settingsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.settingsItem {
  padding: 7px 10px;
  width: 95%;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.languageDropdown {
  margin-left: 10px;
  display: inline-block;
}

.select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid var(--button-bg);
  background: none;
  color: var(--text-clr);
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
  outline: none;
}

.select:hover {
  border-color: var(--button-2nd-bg);
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.select:focus {
  border-color: var(--button-2nd-bg);
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.select option {
  padding: 10px;
  background-color: whitesmoke;
  color: rgb(50, 50, 50);
}

.select:focus-visible {
  outline: none;
  border-color: var(--button-2nd-bg);
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.switch input:checked+.slider {
  background-color: var(--button-bg);
}

.switch input:checked+.slider:before {
  transform: translateX(25px);
}