.titlebar {
  background: var(--titlebar-bg);
  height: 30px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-clr);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85rem;
  border-bottom: 1px solid #191d20;
}

.items {
  flex: 1;
  display: flex;
  margin-right: auto;
  margin-left: 0.5rem;
  user-select: none;
}

.title {
  flex: 1;
  text-align: center;
}

.items>* {
  padding: 0 0.5rem;
  cursor: pointer;
}

.windowButtons {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.windowButtons * {
  margin-left: 0.5rem;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.minimize {
  background: #f1fa8c;
  margin-left: auto;
}

.maximize {
  background: #50fa7b;
}

.close {
  background: #ff5555;
}

@media screen and (max-width: 900px) {
  .items p {
    display: none;
  }

  .title {
    flex: 4;
  }
}

.dropdown {
  position: absolute;
  top: 25px;
  background: var(--dropdown-bg);
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 250, 250, 0.4);
  display: none;
  flex-direction: column;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  width: 300px;
  padding: 4px;
  user-select: none;
}

.show {
  display: flex;
  opacity: 1;
}

.dropdown div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
}

.dropdown div p {
  padding: 3px 24px;
  cursor: pointer;
  color: var(--text-clr);
  transition: background-color 0.2s ease;
}

.dropdown div:hover {
  background: rgba(0, 153, 255, 0.9);
}